<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=0.43, minimum-scale=0.4, maximum-scale=2.0">
{% load static %}
<link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}"/>
<title>{{ title }}</title>
</head>
<body>

<header>
  <div class="container">
    <div class="logo">wazwki.</div>
    <nav>
      <ul>
        <li><a href="/">Главная</a></li>
        <li><a href="/about">Обо мне</a></li>
        <li><a href="/contact">Контакты</a></li>
        <li><a href="/resume">Резюме</a></li>
      </ul>
    </nav>
  </div>
</header>

<div class="container">
  <h2>{{hello}}</h2>
  <p>{{info}}</p>
</div>

<footer>
  <p>wazwki. Все права защищены.</p>
  <a href="{% url "social:begin" "github" %}">GitHub Authentication</a>
  <a href="/api/swagger-ui/">SwaggerUI</a>
</footer>

</body>
</html>
