<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% load static %}
<link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/notfound.css' %}"/>
<title>{{ title }}</title>
</head>
<body>

<header>
  <div class="container">
    <div class="logo">Vazvildi</div>
    <nav>
      <ul>
        <li><a href="/">Главная</a></li>
        <li><a href="/about">О сайте</a></li>
        <li><a href="/contact">Контакты</a></li>
        <li><a href="/resume">Резюме</a></li>
      </ul>
    </nav>
  </div>
</header>

<div class="notfoundtext">
  <h1>{{hello}}</h1>
  <h2>{{info}}</h2>
</div>

<footer>
  <p>Vazvildi. Все права защищены.</p>
</footer>

</body>
</html>
