<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=0.43, minimum-scale=0.4, maximum-scale=2.0">
        {% load static %}
        <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/resume.css' %}"/>
        <title>{{ title }}</title>
    </head>
    <body>
        <header>
            <div class="container">
              <div class="logo">wazwki.</div>
              <nav>
                <ul>
                  <li><a href="/">Главная</a></li>
                  <li><a href="/about">Обо мне</a></li>
                  <li><a href="/contact">Контакты</a></li>
                  <li><a href="/resume">Резюме</a></li>
                </ul>
              </nav>
            </div>
          </header>
        <div class="c96 doc-content">
        <p class="c9 c22 c39"><span class="c90"></span></p>
        <a id="t.fce18fd8710ec08593b5a2473900ffb22f6c012e"></a><a id="t.0"></a>
        <table class="c68">
            <thead>
                <tr class="c59">
                    <td class="c106" colspan="13" rowspan="1">
                        <p class="c9 c36 c86 title" id="h.6wulbv928x4m">
                            <span>&nbsp;</span>
                            <span class="c83">&#1053;&#1086;&#1074;&#1080;&#1094;&#1082;&#1080;&#1081; &#1045;&#1074;&#1075;&#1077;&#1085;&#1080;&#1081; &#1042;&#1072;&#1083;&#1077;&#1088;&#1100;&#1077;&#1074;&#1080;&#1095;</span>
                        </p>
                        <p class="c9 c36 subtitle" id="h.w3r0zri9worq"><span class="c18">&nbsp; Python-&#1088;&#1072;&#1079;&#1088;&#1072;&#1073;&#1086;&#1090;&#1095;&#1080;&#1082;</span></p>
                    </td>
                    <tbody></tbody>
                </tr>
                <tr class="c51">
                    <td class="c77" colspan="3" rowspan="1">
                        <p class="c9 c30 c22"><span class="c28"></span></p>
                    </td>
                    <td class="c5" colspan="6" rowspan="1">
                        <p class="c9 c30 c22"><span class="c28"></span></p>
                    </td>
                    <td class="c37" colspan="4" rowspan="1">
                        <p class="c9 c30 c22"><span class="c28"></span></p>
                    </td>
                </tr>
                <tr class="c19">
                    <td class="c70" colspan="4" rowspan="1">
                        <p class="c8 c58"><span class="c1">+7 (999) 169-82-08</span></p>
                    </td>
                    <td class="c46" colspan="3" rowspan="1">
                        <p class="c58 c8"><span>vazkildi</span><span class="c1">@gmail.com</span></p>
                    </td>
                    <td class="c79" colspan="5" rowspan="1">
                        <p class="c58 c8 c80"><span class="c1">&#1075;. &#1050;&#1072;&#1079;&#1072;&#1085;&#1100;, &#1075;. &#1052;&#1086;&#1089;&#1082;&#1074;&#1072;</span></p>
                    </td>
                </tr>
                <tr class="c59">
                    <td class="c95" colspan="3" rowspan="1">
                        <p class="c9 c22 c30"><span class="c28"></span></p>
                    </td>
                    <td class="c74" colspan="6" rowspan="1">
                        <p class="c9 c30 c22"><span class="c28"></span></p>
                    </td>
                    <td class="c85" colspan="4" rowspan="1">
                        <p class="c7 c8"><span class="c28"></span></p>
                    </td>
                </tr>
                <tr class="c57">
                    <td class="c100" colspan="1" rowspan="1">
                        <h1 class="c9" id="h.crjrxgt8p05m"><span class="c16">&nbsp; &nbsp;&#1054;&#1087;&#1099;&#1090; &#1088;&#1072;&#1079;&#1088;&#1072;&#1073;&#1086;&#1090;&#1082;&#1080;</span></h1>
                        <p class="c9 c22"><span class="c1"></span></p>
                        <p class="c9 c22"><span class="c1"></span></p>
                    </td>
                    <td class="c11" colspan="11" rowspan="1">
                        <p class="c4"><span>&#1052;&#1072;&#1088;&#1090; 2023 &mdash; &#1040;&#1087;&#1088;&#1077;&#1083;&#1100; 2024 - </span><span class="c26">1 &#1075;&#1086;&#1076; 1 &#1084;&#1077;&#1089;&#1103;&#1094;</span></p>
                        <p class="c4 c22"><span class="c1"></span></p>
                        <p class="c4"><span>Python Developer </span></p>
                    </td>
                </tr>
                <tr class="c48">
                    <td class="c75" colspan="1" rowspan="1">
                        <h2 class="c94" id="h.tajlfbf7aea0"><span>&nbsp;</span><span class="c24">Royalclub</span></h2>
                        <p class="c4"><span>&nbsp;</span><span class="c1">&#1075;.&#1050;&#1072;&#1079;&#1072;&#1085;&#1100;</span></p>
                        <p class="c4"><span class="c1">&nbsp;&#1040;&#1074;&#1075;&#1091;&#1089;&#1090; 2023 - &#1052;&#1072;&#1088;&#1090; 2024</span></p>
                        <p class="c4"><span class="c112">&nbsp;</span><span class="c26">8 &#1084;&#1077;&#1089;&#1103;&#1094;&#1077;&#1074;</span></p>
                    </td>
                    <td class="c11" colspan="11" rowspan="1">
                        <p class="c4"><span class="c26">Python Backend Developer</span></p>
                        <p class="c4"><span class="c1">&#1047;&#1072;&#1076;&#1072;&#1095;&#1080;:</span></p>
                        <p class="c4">
                            <span class="c1">
                                - &#1053;&#1072;&#1087;&#1080;&#1089;&#1072;&#1085;&#1080;&#1077; &#1095;&#1080;&#1089;&#1090;&#1086;&#1075;&#1086;
                                &#1092;&#1091;&#1085;&#1082;&#1094;&#1080;&#1086;&#1085;&#1072;&#1083;&#1100;&#1085;&#1086;&#1075;&#1086; &#1082;&#1086;&#1076;&#1072; &#1085;&#1072;
                                &#1089;&#1077;&#1088;&#1074;&#1077;&#1088;&#1085;&#1086;&#1081; &#1095;&#1072;&#1089;&#1090;&#1080;.
                            </span>
                        </p>
                        <p class="c4"><span class="c1">- &#1056;&#1077;&#1092;&#1072;&#1082;&#1090;&#1086;&#1088;&#1080;&#1085;&#1075; &#1082;&#1086;&#1076;&#1072;.</span></p>
                        <p class="c4"><span class="c1">- &#1058;&#1077;&#1089;&#1090;&#1080;&#1088;&#1086;&#1074;&#1072;&#1085;&#1080;&#1077; &#1089; &#1087;&#1086;&#1084;&#1086;&#1097;&#1100;&#1102; pytest, unittest.</span></p>
                        <p class="c4">
                            <span class="c1">
                                - &#1056;&#1072;&#1079;&#1088;&#1072;&#1073;&#1086;&#1090;&#1082;&#1072; &#1084;&#1086;&#1076;&#1091;&#1083;&#1077;&#1081; &#1087;&#1086;
                                &#1090;&#1077;&#1093;&#1085;&#1080;&#1095;&#1077;&#1089;&#1082;&#1086;&#1084;&#1091; &#1079;&#1072;&#1076;&#1072;&#1085;&#1080;&#1102;.
                            </span>
                        </p>
                        <p class="c4"><span class="c1">- &#1056;&#1072;&#1073;&#1086;&#1090;&#1072; &#1089; &#1074;&#1085;&#1077;&#1096;&#1085;&#1080;&#1084;&#1080; API.</span></p>
                        <p class="c4"><span class="c1">&#1057;&#1090;&#1077;&#1082;: Python 3.9, Django, DRF, PostgreSQL, Redis, Celery, Pytest, Gunicorn, Swagger, Docker, Docker-compose</span></p>
                    </td>
                </tr>
                <tr class="c48">
                    <td class="c107" colspan="1" rowspan="1">
                        <h2 class="c94 c105" id="h.xiir7i3dtl2s">
                            <span class="c24">
                                &#1048;&#1085;&#1076;&#1080;&#1074;&#1080;&#1076;&#1091;&#1072;&#1083;&#1100;&#1085;&#1086;&#1077;
                                &#1087;&#1088;&#1077;&#1076;&#1087;&#1088;&#1080;&#1085;&#1080;&#1084;&#1072;&#1090;&#1077;&#1083;&#1100;&#1089;&#1090;&#1074;&#1086;
                            </span>
                        </h2>
                        <p class="c4"><span>&nbsp;</span><span class="c1">&#1075;.&#1050;&#1072;&#1079;&#1072;&#1085;&#1100;</span></p>
                        <p class="c4"><span class="c1">&nbsp;&#1052;&#1072;&#1088;&#1090; 2023 - &#1040;&#1074;&#1075;&#1091;&#1089;&#1090; 2023</span></p>
                        <p class="c4"><span class="c26">&nbsp;5 &#1084;&#1077;&#1089;&#1103;&#1094;&#1077;&#1074;</span></p>
                    </td>
                    <td class="c11" colspan="11" rowspan="1">
                        <p class="c4"><span class="c26">Python Backend Developer</span></p>
                        <p class="c4"><span class="c1">&#1047;&#1072;&#1076;&#1072;&#1095;&#1080;:</span></p>
                        <p class="c4"><span class="c1">- &#1044;&#1086;&#1088;&#1072;&#1073;&#1086;&#1090;&#1082;&#1072; &#1092;&#1091;&#1085;&#1082;&#1094;&#1080;&#1086;&#1085;&#1072;&#1083;&#1072;.</span></p>
                        <p class="c4"><span class="c1">- &#1053;&#1072;&#1087;&#1080;&#1089;&#1072;&#1085;&#1080;&#1077; &#1074;&#1077;&#1073;-&#1087;&#1088;&#1080;&#1083;&#1086;&#1078;&#1077;&#1085;&#1080;&#1081;.</span></p>
                        <p class="c4"><span class="c1">- &#1053;&#1072;&#1087;&#1080;&#1089;&#1072;&#1085;&#1080;&#1077; &#1095;&#1072;&#1090;-&#1073;&#1086;&#1090;&#1086;&#1074;.</span></p>
                        <p class="c4">
                            <span class="c1">
                                - &#1044;&#1077;&#1073;&#1072;&#1075; &#1089;&#1091;&#1097;&#1077;&#1089;&#1090;&#1074;&#1091;&#1102;&#1097;&#1077;&#1081; &#1082;&#1086;&#1076;&#1086;&#1074;&#1086;&#1081; &#1073;&#1072;&#1079;&#1099;.
                            </span>
                        </p>
                        <p class="c4"><span class="c1">&#1057;&#1090;&#1077;&#1082;: Python 3.7, Django, PostgreSQL, Redis, Celery, Pytest, Gunicorn, RabbitMQ, Docker, Docker-compose</span></p>
                    </td>
                </tr>
                <tr class="c45">
                    <td class="c12" colspan="1" rowspan="1">
                        <h1 class="c9" id="h.t3vr5vxhsk30"><span class="c16">&nbsp; &#1054;&#1073;&#1088;&#1072;&#1079;&#1086;&#1074;&#1072;&#1085;&#1080;&#1077;</span></h1>
                    </td>
                    <td class="c11" colspan="11" rowspan="1">
                        <h3 class="c42" id="h.t73vq9jm6lr2"><span class="c24">&nbsp; &#1057;&#1088;&#1077;&#1076;&#1085;&#1077;&#1077; &#1087;&#1086;&#1083;&#1085;&#1086;&#1077;</span></h3>
                    </td>
                </tr>
                <tr class="c40">
                    <td class="c12" colspan="1" rowspan="1">
                        <h1 class="c9" id="h.uoguftvx0tp3"><span>&nbsp; </span><span class="c16">&#1054;&#1089;&#1085;&#1086;&#1074;&#1085;&#1099;&#1077; &#1085;&#1072;&#1074;&#1099;&#1082;&#1080;</span></h1>
                    </td>
                    <td class="c50" colspan="4" rowspan="1">
                        <p class="c9"><span class="c1">&nbsp; Python 3.x</span></p>
                        <p class="c9"><span class="c1">&nbsp; Django framework</span></p>
                        <p class="c9"><span class="c1">&nbsp; Django rest framework</span></p>
                        <p class="c9"><span>&nbsp; </span><span>FastApi</span><span class="c1">&nbsp;framework</span></p>
                    </td>
                    <td class="c89" colspan="6" rowspan="1">
                        <p class="c9"><span class="c1">PostgreSQL</span></p>
                        <p class="c9"><span class="c1">Redis</span></p>
                        <p class="c9"><span class="c1">Celery</span></p>
                        <p class="c9"><span class="c1">MongoDB</span></p>
                    </td>
                    <td class="c33" colspan="1" rowspan="1">
                        <p class="c13"><span class="c1">ElasticSearch(Kibana)</span></p>
                        <p class="c13"><span class="c1">Prometheus(Grafana)</span></p>
                        <p class="c0"><span class="c1"></span></p>
                    </td>
                </tr>
                <tr class="c69">
                    <td class="c12" colspan="1" rowspan="1">
                        <h1 class="c9" id="h.qtdcnys5lvz9"><span class="c16">&nbsp; &#1044;&#1086;&#1087;&#1086;&#1083;&#1085;&#1080;&#1090;&#1077;&#1083;&#1100;&#1085;&#1099;&#1077;</span></h1>
                        <h1 class="c9" id="h.e5vnf9u3didn"><span class="c16">&nbsp; &#1085;&#1072;&#1074;&#1099;&#1082;&#1080;</span></h1>
                    </td>
                    <td class="c50" colspan="4" rowspan="1">
                        <p class="c9"><span class="c1">&nbsp; Docker, Docker-compose</span></p>
                        <p class="c9"><span class="c1">&nbsp; Gunicorn</span></p>
                        <p class="c9"><span class="c1">&nbsp; Nginx</span></p>
                        <p class="c9"><span class="c1">&nbsp; Git</span></p>
                    </td>
                    <td class="c89" colspan="6" rowspan="1">
                        <p class="c13"><span class="c1">API, REST, Swagger</span></p>
                        <p class="c13"><span class="c1">Pytest, unittest</span></p>
                        <p class="c9"><span class="c1">Bash, zsh</span></p>
                    </td>
                    <td class="c33" colspan="1" rowspan="1">
                        <p class="c9"><span class="c1">HTML, CSS, Bootstrap</span></p>
                        <p class="c9"><span class="c1">BeautifulSoup</span></p>
                        <p class="c9"><span class="c1">AioGram</span></p>
                    </td>
                </tr>
                <tr class="c56">
                    <td class="c12" colspan="1" rowspan="1">
                        <h1 class="c9" id="h.kesdhbgp7t1k"><span>&nbsp; </span><span class="c16">&#1050;&#1086;&#1084;&#1084;&#1091;&#1085;&#1080;&#1082;&#1072;&#1094;&#1080;&#1080;</span></h1>
                    </td>
                    <td class="c11" colspan="11" rowspan="1">
                        <p class="c9 c30 c97"><span>&nbsp; </span><span class="c1">&#1047;&#1085;&#1072;&#1082;&#1086;&#1084; &#1089; Agile(scrum/kanban)</span></p>
                    </td>
                </tr>
                <tr class="c98">
                    <td class="c12" colspan="1" rowspan="1">
                        <h1 class="c9" id="h.ftf6zz5cv2vo"><span class="c16">&nbsp; &#1050;&#1086;&#1085;&#1090;&#1072;&#1082;&#1090;&#1085;&#1099;&#1077; &#1076;&#1072;&#1085;&#1085;&#1099;&#1077;</span></h1>
                    </td>
                    <td class="c66" colspan="5" rowspan="1">
                        <p class="c4">
                            <span>&nbsp; </span>
                            <span class="c29"><a class="c10" href="https://www.google.com/url?q=http://github.com/wazwki&amp;sa=D&amp;source=editors&amp;ust=1715153460718042&amp;usg=AOvVaw3m8WsliUBytFoEzi1fPuso">github.com/wazwki</a></span>
                        </p>
                        <p class="c4 c22"><span class="c29 c113"></span></p>
                        <p class="c4">
                            <span>&nbsp;</span>
                            <span class="c29">
                                <a class="c10" href="https://www.google.com/url?q=http://leetcode.com/wazwki&amp;sa=D&amp;source=editors&amp;ust=1715153460718506&amp;usg=AOvVaw3U0QEJfHolxb0z0u5wLPvQ">leetcode.com/wazwki</a>
                            </span>
                        </p>
                    </td>
                    <td class="c88" colspan="6" rowspan="1">
                        <p class="c4">
                            <span>&nbsp;</span><span>&nbsp;</span>
                            <span class="c29"><a class="c10" href="https://www.google.com/url?q=http://t.me/wazwki&amp;sa=D&amp;source=editors&amp;ust=1715153460719599&amp;usg=AOvVaw0ZHVrXr8yY8DKys1or7Z-G">t.me/wazwki</a></span>
                        </p>
                        <p class="c4 c22"><span class="c1"></span></p>
                        <p class="c4">
                            <span>&nbsp;</span><span><a class="c10" href="https://www.google.com/url?q=http://wazwki.duckdns.org&amp;sa=D&amp;source=editors&amp;ust=1715153460720150&amp;usg=AOvVaw04ecM5nSPXljNvOZ5CgnP6">&nbsp;</a></span>
                            <span class="c29">
                                <a class="c10" href="https://www.google.com/url?q=http://wazwki.duckdns.org&amp;sa=D&amp;source=editors&amp;ust=1715153460720292&amp;usg=AOvVaw1mFDHkePY9yIht3xDcLTdW">wazwki.duckdns.org</a>
                            </span>
                        </p>
                    </td>
                </tr>
                <tr class="c3">
                    <td class="c12" colspan="1" rowspan="1">
                        <h1 class="c9" id="h.ucxs868g3ih7"><span class="c16">&nbsp; &#1051;&#1080;&#1095;&#1085;&#1099;&#1077; &#1076;&#1072;&#1085;&#1085;&#1099;&#1077;</span></h1>
                    </td>
                    <td class="c66" colspan="5" rowspan="1">
                        <p class="c9"><span class="c1">&nbsp; &#1042;&#1083;&#1072;&#1076;&#1077;&#1085;&#1080;&#1077; &#1103;&#1079;&#1099;&#1082;&#1072;&#1084;&#1080;:</span></p>
                        <ul class="c60 lst-kix_opib9kogrpcg-0 start">
                            <li class="c9 c104 li-bullet-0"><span class="c1">&#1056;&#1091;&#1089;&#1089;&#1082;&#1080;&#1081; &#1103;&#1079;&#1099;&#1082; (C1)</span></li>
                            <li class="c9 c104 li-bullet-0"><span class="c1">&#1040;&#1085;&#1075;&#1083;&#1080;&#1081;&#1089;&#1082;&#1080;&#1081; &#1103;&#1079;&#1099;&#1082; (B1)</span></li>
                        </ul>
                    </td>
                    <td class="c88" colspan="6" rowspan="1">
                        <p class="c9 c30"><span>&#1042;&#1086;&#1079;&#1088;&#1072;&#1089;&#1090;:</span><span class="c1">&nbsp;21.10.2003 (20 &#1083;&#1077;&#1090;)</span></p>
                        <p class="c22 c102"><span class="c1"></span></p>
                        <p class="c9"><span>&nbsp; </span><span>&#1043;&#1088;&#1072;&#1078;&#1076;&#1072;&#1085;&#1089;&#1090;&#1074;&#1086;:</span><span class="c1">&nbsp;&#1056;&#1086;&#1089;&#1089;&#1080;&#1103;</span></p>
                    </td>
                </tr>
            </thead>
        </table>
        <p class="c9 c22 c99"><span class="c90"></span></p>
    </div>
        <footer>
            <p>wazwki. Все права защищены.</p>
        </footer>
    </body>
</html>
