.contribution-week {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.contributions {
    width: 689px;
    height: 91px;
    max-width: 1000px;
    max-height: 150px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}
.contribution-day {
    width: 10px;
    height: 10px;
    margin: 1.5px;
    background-color: #ebedf0;
    border-radius: 2px;
    outline: 1px solid rgba(27, 31, 35, 0.06);
    outline-offset: -1px;
}
.contribution-day-1 {
    width: 10px;
    height: 10px;
    margin: 1.5px;
    background-color: #9be9a8;
    border-radius: 2px;
    outline: 1px solid rgba(27, 31, 35, 0.06);
    outline-offset: -1px;
}
.contribution-day-2 {
    width: 10px;
    height: 10px;
    margin: 1.5px;
    background-color: #40c463;
    border-radius: 2px;
    outline: 1px solid rgba(27, 31, 35, 0.06);
    outline-offset: -1px;
}
.contribution-day-3 {
    width: 10px;
    height: 10px;
    margin: 1.5px;
    background-color: #30a14e;
    border-radius: 2px;
    outline: 1px solid rgba(27, 31, 35, 0.06);
    outline-offset: -1px;
}
.contribution-day-4 {
    width: 10px;
    height: 10px;
    margin: 1.5px;
    background-color: #216e39;
    border-radius: 2px;
    outline: 1px solid rgba(27, 31, 35, 0.06);
    outline-offset: -1px;
}