body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
header {
    background-color: #fff;
    border-bottom: 1px solid #000;
    padding: 5px 0;
    height: 40px;
  }
.container {
    text-align: center;
    margin: 10px auto;
    padding: 0 20px;
  }
header .logo {
    font-weight: bold;
    font-size: 1.2em;
    color: #000;
    float: left;
    margin-left: 20px;
  }
header nav {
    float: right;
    margin-right: 20px;
  }
header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
header nav ul li {
    display: inline;
    margin-left: 20px;
  }
header nav ul li a {
    text-decoration: none;
    color: #000;
  }
footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
  }