body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
header {
    background-color: #fff;
    border-bottom: 1px solid #000;
    padding: 5px 0;
    height: 40px;
  }
.container {
    text-align: center;
    margin: 10px auto;
    padding: 0 20px;
  }
header .logo {
    font-weight: bold;
    font-size: 1.2em;
    color: #000;
    float: left;
    margin-left: 20px;
  }
header nav {
    float: right;
    margin-right: 20px;
  }
header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
header nav ul li {
    display: inline;
    margin-left: 20px;
  }
header nav ul li a {
    text-decoration: none;
    color: #000;
  }
footer a {
    text-decoration: none;
    color: #fff;
  }
footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
.contribution-week {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.contributions {
    width: 689px;
    height: 91px;
    max-width: 1000px;
    max-height: 150px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}
.contribution-day {
    width: 10px;
    height: 10px;
    margin: 1.5px;
    background-color: #ebedf0;
    border-radius: 2px;
    outline: 1px solid rgba(27, 31, 35, 0.06);
    outline-offset: -1px;
}
.contribution-day-1 {
    width: 10px;
    height: 10px;
    margin: 1.5px;
    background-color: #9be9a8;
    border-radius: 2px;
    outline: 1px solid rgba(27, 31, 35, 0.06);
    outline-offset: -1px;
}
.contribution-day-2 {
    width: 10px;
    height: 10px;
    margin: 1.5px;
    background-color: #40c463;
    border-radius: 2px;
    outline: 1px solid rgba(27, 31, 35, 0.06);
    outline-offset: -1px;
}
.contribution-day-3 {
    width: 10px;
    height: 10px;
    margin: 1.5px;
    background-color: #30a14e;
    border-radius: 2px;
    outline: 1px solid rgba(27, 31, 35, 0.06);
    outline-offset: -1px;
}
.contribution-day-4 {
    width: 10px;
    height: 10px;
    margin: 1.5px;
    background-color: #216e39;
    border-radius: 2px;
    outline: 1px solid rgba(27, 31, 35, 0.06);
    outline-offset: -1px;
}